/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* PC: width >= 1024 */
@media only screen and (min-width: 64em) {
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  #header {
    overflow: hidden;
  }

  #header .mobile-menu-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  #header .mobile-menu-btn:hover {
    color: black;
    background-color: #ccc;
  }

  #header .mobile-menu-btn:hover .mobile-icon {
    color: black;
  }

  #header .search-btn {
    display: none;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .sub-nav {
    position: initial;
    background-color: #333;
  }

  #nav .sub-nav li a {
    background-color: #333;
    color: white;
    padding-left: 36px;
    line-height: 46px;
  }
  .about-section .member-list {
    margin: 0;
  }

  .about-section .member-item {
    width: 100%;
  }

  #slider .text-content {
    display: none;
  }
}
