/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.clear {
  clear: both;
}

.text-light {
  color: white !important;
}

#main {
  overflow: hidden;
}

/* Header */
/* Fixed Header */
#header {
  background-color: black;
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#header .mobile-menu-btn {
  display: none;
}
/* Navigation */
#nav {
  display: inline-block;
}

#nav,
.sub-nav {
  list-style: none;
}

#nav > li {
  display: inline-block;
}

#nav li a {
  line-height: 46px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 0 24px;
  display: block;
}

#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .nav-arrow-down {
  font-size: 14px;
  padding-left: 5px;
}

/* Dropdown Menu */
#nav > li:last-child {
  position: relative;
}

#nav .sub-nav {
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .sub-nav a {
  text-transform: none;
  background-color: white;
  color: black;
  padding: 0 16px;
  padding-right: 40px;
  line-height: 38px;
}

#nav li:last-child:hover .sub-nav {
  display: block;
}

#nav .sub-nav li:hover a {
  background-color: #ccc;
}

/* Header Search Button */
#header .search-btn,
#header .mobile-menu-btn {
  float: right;
  padding: 0 24px;
}

#header .search-icon,
#header .mobile-icon {
  color: #fff;
  font-size: 14px;
  line-height: 46px;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

/* Slider */
#slider {
  margin-top: 46px;
  padding-top: 50%;
  background-image: url('https://www.w3schools.com/w3images/la.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}

#slider .text-content {
  text-align: center;
  position: absolute;
  bottom: 12px;
  width: 100%;
  color: white;
  padding: 32px 16px;
}

#slider .text-heading {
  margin: 10px 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
}

/* Content Section */
#content .about-section,
#content .tour-section-content,
#content .contact-section {
  max-width: 800px;
  padding: 64px 16px;
  margin: 0 auto;
  text-align: center;
}

#content .section-heading {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: 500;
  margin: 10px 0;
}

#content .section-sub-heading {
  opacity: 0.5;
  font-style: italic;
}

#content .section-justify {
  text-align: justify;
}

#content p {
  margin: 15px 0;
}

/* About Section */
.about-section .member-list {
  padding: 32px 0;
  margin: 0 -16px;
}

.about-section .member-item {
  float: left;
  width: 33.33%;
}

.about-section .member-item img {
  border-radius: 4px;
  width: 60%;
  margin-bottom: 16px;
}

/* Tour Section */

.tour-section {
  background-color: black;
}

/* Tour Section Ul Li */
.tour-section .tickets-list {
  background-color: white;
  color: #757575;
  list-style: none;
  text-align: left;
}

.tickets-list li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.ticket-item span {
  display: inline-block;
  padding: 0 8px;
  text-align: center;
}

.ticket-item .sold-out {
  color: #fff;
  background-color: #f44336;
  margin-left: 16px;
}

.ticket-item .ticket-number {
  float: right;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  margin-right: 16px;
}

/* Tour Section Float Left */
.tour-section .tour-places {
  padding: 32px 8px;
  margin: 0 -16px;
}

.tour-places .place-item {
  float: left;
  width: 33.33%;
  text-align: left;
  background-color: white;
  background-clip: content-box;
  padding: 0 8px;
  margin-bottom: 16px;
}

.place-item img {
  width: 100%;
  vertical-align: middle;
}

.place-item img:hover {
  opacity: 0.6;
}

.tour-places .place-content {
  padding: 0.01em 16px;
}

.place-content .buy-button {
  margin-bottom: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
}

.place-content .buy-button:hover {
  background-color: #ccc;
  color: #000;
}

/* Modal */
.modal.open {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal .modal-container {
  background: white;
  color: black;
  width: 900px;
  max-width: calc(100% - 32px);
  margin: auto;
  animation: modalFadeIn ease 0.5s;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header */

.modal-container .modal-header {
  text-align: center;
  padding: 32px 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  position: relative;
}

.modal-header h2 {
  font-family: 'Segoe UI', Arial, sans-serif;
  letter-spacing: 4px;
  font-weight: 400;
  margin: 10px 0;
  font-size: 30px;
}

.modal-header h2 i {
  margin-right: 16px;
}

/* Exit */

.modal-header .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 16px;
  display: inline-block;
  line-height: 32px;
  cursor: pointer;
  vertical-align: middle;
}

.modal-close:hover {
  color: #000;
  background-color: #ccc;
}

/* Modal Body */
.modal-container .modal-body {
  padding: 0 16px;
}

.modal-body label {
  display: block;
  margin: 15px 0;
}

.modal-body .modal-input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  display: block;
  line-height: 22px;
}

/* Modal Button */

.buy-ticket {
  line-height: 22px;
  border: none;
  display: block;
  width: 100%;
  padding: 16px;
  margin: 16px 0;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-appearance: none;
}

.buy-ticket:hover {
  color: #000;
  background-color: #ccc;
}

/* Modal Footer */

.modal-body .close-ticket {
  display: inline-block;
  color: #fff;
  background-color: #f44336;
  margin: 16px 0;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  line-height: 22px;
}

.modal-body .close-ticket:hover {
  color: #000;
  background-color: #ccc;
}

.modal-body .modal-help {
  display: block;
  float: right;
  margin: 16px 0;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact Section */
.contact-section .row {
  padding: 32px 0;
}

.contact-section .col-half {
  float: left;
  width: 50%;
}

.contact-section .contact-content {
  text-align: left;
  margin-bottom: 16px;
}

#content .contact-section p {
  font-size: 18px;
  margin: 0;
}

#content .contact-section i {
  display: inline-block;
  width: 30px;
}

.contact-section .name-email {
  padding: 0 8px;
  margin: 0 -16px 12px -16px;
}

.contact-section .name-email .half {
  float: left;
  width: 50%;
  padding: 0 8px;
}

.contact-form input {
  line-height: 22px;
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.send-btn.buy-ticket {
  padding: 8px 16px;
  float: right;
  background-color: black;
  width: auto;
  -webkit-appearance: none;
}

.send-btn.buy-ticket:hover {
  color: black;
  background-color: #ccc;
}

/* Map Section */
.map-section img {
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
  color: black;
}

#footer .social-lists {
  font-size: 24px;
}

#footer .social-lists a {
  color: black;
}

#footer .social-lists a:hover {
  color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
  font-size: 15px;
  margin: 15px 0;
}

#footer .copyright a {
  color: black;
}
